<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>DES 157</title>
  <link rel="stylesheet" href="default.css" />
  <script src="script.js"></script>
</head>

<body>

  <header>
    <h1>Home</h1>
  </header>

  <footer>
    <a href="https://validator.w3.org/check?uri=referer">Nu HTML Checker</a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">CSS Validation Service</a>
    <a href="https://validator.w3.org/unicorn/check?ucn_uri=referer&ucn_task=conformance" title="HTML+CSS+RSS">Unicorn Unified Validator</a>
    <!-- <a href="https://validator.w3.org/unicorn/check?ucn_uri=referer&tests=valnu&tests=css-validator&ucn_task=custom" title="HTML+CSS">Unicorn Unified Validator</a> -->
  </footer>

</body>

</html>
